body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

h1, h3 {
  color: white;
  margin-top: 10px;
}

.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.chosen {
  background-image: url("../images/bsstamp.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-weight:bolder;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s;
  animation-iteration-count: infinite;
}

#header{
  /*border-bottom: rgb(193,135,203) 10px solid;*/
  border-bottom: 10px solid;
  border-bottom-color: darkred;
  padding: 0;
  margin: 0;
  /*background-color: rgb(91, 103, 112);*/
  background-color: darksalmon;
}

table {
  margin-left: auto;
  margin-right: auto;
}

thead {
  border-bottom: 3px solid;
  background-color: lightgrey;
  font-weight: bold;
}
table, td, th {
  border: 1px solid black;
  text-align: center;
  font-size: larger;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td, th{
  width: 140px;
  padding: 5px;
}

tr {
  height:140px;
}